{% extends 'home.html' %}

{% block content %}
    <h3><b>About </b></h3>
    <p class="indent"> „Czar-car” to firma działająca od kilku lat w branży wypożyczania pojazdów dla klienta. Firma prosperowała
        nienagannie przez ostatnie lata działania, jednakże przez rozwój technologii konkurencja zostawiła ją w tyle.
        Żeby uniknąć upadku firmy przez straty klientów na rzecz konkurencji firma postanowiła stworzyć system
        informatyczny obsługujący wypożyczalnie samochodów. </p>
{% endblock %}