{% extends 'home.html' %}

{% block content %}
    <h3><b>Contact</b></h3>
    <h4><b>E-mail adresses: </b></h4>
    <ul class="ul1">
        <li style="list-style-type:disc">s18823@pjwstk.edu.pl</li>
        <li style="list-style-type:disc">cezary.boguszewski1@gmail.com</li>
    </ul>
    <h4><b>GitHub: </b></h4>
    <a href="https://github.com/MagiCzarek" class="indent">github.com/MagiCzarek</a>
    <h4><b>Linkedin: </b></h4>
    <a href="https://www.linkedin.com/in/cezary-boguszewski-1342a4213/" class="indent">Linkedin profile</a>
    <h4><b>Phone number: </b></h4>
    <p class="indent">(+48) 739097927</p>

{% endblock %}