{% extends 'home.html' %}

{% block content %}
    <h3><b>Payment for the rent </b></h3>
    {% for car in cars %}
        Name :  {{ car.name }}
        <br>
        Payment for a day: {{ car.price }}
        <br>

        <form method="POST" action="">
            {% csrf_token %}
            Type number of days for rent:
            <input type="text" name="rent_time" placeholder="number of days..." class="form-control">
            Adress:
            <input type="text" name="address" placeholder="Address" class="form-control">
            <input type="hidden" name="car_id" value="{{ car.id }}" class="form-control">

            <input class="btn btn-sm" type="submit" value="rent_car" name="rent_car">

        </form>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}

    {% endfor %}
{% endblock %}